<div class="row margin-bottom-10">
	<div class="col-md-12">
		<a class="btn btn-success" href="#/category/new"><i class="fa fa-plus"></i> New</a>
		<button class="btn btn-danger" ng-click="destroy()"><i class="fa fa-times"></i> Delete</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width: 20px;"><input type="checkbox" ng-change="toggleSelect()" ng-model="selectToggle" /></th>
					<th>ID</th>
					<th>Name</th>
					<th>Parent</th>
					<th>Order</th>
					<th>Image</th>
					<th style="width: 60px">#</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="category in categories track by $index">
					<td><input type="checkbox" ng-model="category.selected"/></td>
					<td>{{category.id}}</td>
					<td>{{category.name}}</td>
					<td>{{category.parent_id}}</td>
					<td>{{category.sort_order}}</td>
					<td><img ng-if="category.image_id" ng-src="{{API_URL}}/media/{{category.image_id}}" class="img-thumbnail" style="height: 50px;"/></td>
					<td><a href="#/category/edit/{{category.id}}" class="btn btn-warning btn-sm">Edit</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>